@import "tailwindcss";

@theme {
  --color-primary: #C5A059;
  --color-pearl-beige: #eacea9;
  --color-midnight-blue: #0e1a34;
  --color-background-light: #FDFCF0;
  --color-background-dark: #0B1120;
  --color-luxury-blue: #16213E;
  --color-luxury-gold: #D4AF37;
}

@layer base {
  html, body {
    background-color: #FDFCF0 !important;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }

  h1, h2, h3, .font-display {
    font-family: 'Playfair Display', serif;
  }
}

.hero-gradient {
  background: 
    linear-gradient(
      to bottom, 
      rgba(11, 17, 32, 0.5),
      rgba(11, 17, 32, 0.8) 40%,
      rgba(11, 17, 32, 1)
    ),
    url('https://images.unsplash.com/photo-1548574505-5e239809ee19?auto=format&fit=crop&q=80&w=2000') 
    center 35% / cover no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}